.container{
    width: 920px;
    color: #ffffff;
}
.loading {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-20 {
    margin-top: 20px;
}
.notification {
    background-image: linear-gradient(100deg, #002590, #05489e 42%, #11a1c3 73%, #dbf7c7);
    height: 50px;
    line-height: 50px;
    position: fixed;
    z-index: 99;
    width: 920px;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.visible {
    opacity: 0.9;
}

.logo {
    float: left;
}
.logo img {
    width: 100px;
}
.lhs {
    height: 100%;
    padding-top: 100px;
}
.Rectangle-3-Copy {
    /* width: 890px; */
    height: 450px;
    /* background-image: linear-gradient(335deg, #002590, #05489e 42%, #11a1c3 73%, #dbf7c7); */
    background-image: linear-gradient(100deg, #002590, #05489e 42%, #11a1c3 73%, #dbf7c7);
  }
  .Digital-Contract {
    height: 28.5px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    /* text-align: center; */
    color: #ffffff;
  }
  .Enter-the-brokerage {
    height: 9.5px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  .rect {
    border: 1px solid #fff;
    height: 50px;
    background: transparent;
    padding: 0 0 0 20px;
  }
  .oval {
    color: #ffffff;
    margin-left: -9%;
    margin-top: 7%;
    border-radius: 15px;
    background: #ffffff;
    color: #000000;
    height: 30px;
    width: 30px;
    transform: scale(0.7)
  }
  .percent {
      line-height: 30px;
      background: transparent;
      margin-left: -7px;
  }
  .star {
    margin-left: -14%;
  }
  .inclusive {
      bottom: 5%;
      position: absolute;
      font-size: 12px;
      opacity: 0.6;
  }
  .rhs {
      padding-top: 50px;
  }
  .digital-contract {
      height: 90%;
      width: 90%;
  }
  .digital-contract img{
      height: 100%;
      width: 100%;
  }
  .contract {
    color: #000;
    margin-top: -300px;
    width: 80%;
    margin-left: 40px;
    font-size: 11px;
  }
  #brkrg-prcnt {
      background-color: #0F9AC0;
      color: #ffffff;
  }

/* second screen */
.block {
    height: 450px;
    text-align: center;
}
.red {
    background-color: #e96560;
}
.yellow {
    background-color: #e5a900;
}
.purple {
    background-color: #9013fe;
}
.green {
    background-color: #41d0b0;
}
.head {
    font-size: 14px;
    font-weight: 700;
    margin-top: 10%;
}
.sub-head {
    font-size: 12px;
    margin-top: 10%;
    padding-top: 20px;
}
.mtp-5 {
    margin-top: 5%;
}
.action {
    margin-top: 10%;
    border-radius: 25px;
    border: 1px solid #ffffff;
    padding: 5px 0;
    cursor: pointer;
}

.action:hover, .action.done {
    background-color: #ffffff;
}
.red .action:hover, .red .action.done {
    color: #e96560;
}

.yellow .action:hover, .yellow .action.done {
    color: #e5a900;
}

.purple .action:hover, .purple .action.done {
    color: #9013fe;
}

.green .action:hover, .green .action.done {
    color: #41d0b0;
}
.border {
    border-radius: 2px;
    border: 1px solid #ccc;
    min-height: 200px;
}

.buyer {
    background-image: url(/assest/buyer.png);
    width: 150px;
    height: 140px;
    margin: 0 auto;
    background-size: 145px;
    margin-top: 100px;
    background-repeat: no-repeat;
}

.bank {
    background-image: url(/assest/bank.png);
    width: 150px;
    height: 140px;
    margin: 0 auto;
    background-size: 145px;
    margin-top: 100px;
    background-repeat: no-repeat;
}

.builder {
    background-image: url(/assest/builder.png);
    width: 150px;
    height: 140px;
    margin: 0 auto;
    background-size: 145px;
    margin-top: 100px;
    background-repeat: no-repeat;
}

.broker {
    background-image: url(/assest/broker.png);
    width: 168px;
    height: 140px;
    margin: 0 auto;
    background-size: 145px;
    margin-top: 100px;
    background-repeat: no-repeat;
}
.stats .head {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    color: #000000;
    margin-top: 0;
}

.stats .head .s-head {
    font-weight: 400;
}

.transaction {
    background-image: url(/assest/transaction.png);
    background-repeat: no-repeat;
    padding-left: 40px !important;
    background-size: 30px;
    background-position: 0px 13px;
}

.transaction-record {
    height: 147px;
    overflow-x: hidden;
    overflow-y: auto;
}

.balance {
    background-image: url(/assest/balance.png);
    background-repeat: no-repeat;
    padding-left: 40px !important;
    background-size: 30px;
    background-position: 0px 12px;
}

.no-border {
    border: none !important;
}

.animate {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    animation-iteration-count: infinite;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .highlight {
    animation: highlight 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    animation-iteration-count: 2;
}

@keyframes highlight {
    0%{
        opacity: 0;
        background: #0F9AC0;
    }
    50%{
        opacity: .5;
        background: #0F9AC0;
    }
    100%{
        opacity: 1;
        background: none;
    }
  }